# Image files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Documents
*.md text

# Code files
*.html text
*.css text
*.js text
*.json text

# Auto detect text files and normalize line endings
* text=auto
